@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    15 North Thompson Street<br />
    Richmond, Virginia 23221<br />
    <abbr title="Phone">P:</abbr>
    (571) 393-1278
</address>

<address>
    <strong>Sunodía:</strong>   <a href="mailto:hello@sunodia.org">hello@sunodia.org</a><br />
    <strong>Web Questions:</strong> <a href="mailto:dan@rafferty.biz">dan@rafferty.biz</a>
</address>