@import url("http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
.cinchoo-combobox {
    position: relative;
    display: inline-block;
    width: 100%;
}

.cinchoo-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.cinchoo-combobox-input {
    margin: 0;
    width: calc(100% - 25px);
    padding: 5px 10px;
}