<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>FHI</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://findinghomeinstitute.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>findinghomeinstitute.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FindingHomeInstitute</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FindingHomeInstitute</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sunodiaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sunodia.ClassManagement.Models.sunodiaEntities, Sunodia.ClassManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sunodia.ClassManagement.Models.ApplicationDbContext, Sunodia.ClassManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.sunodiaData.csdl|res://*/Models.sunodiaData.ssdl|res://*/Models.sunodiaData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=pgcvtuvk58.database.windows.net;Initial Catalog=fhi;User ID=danraf;Password=g!ood8566;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>