<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sunodia1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sunodia1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sunodia1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sunodia1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sunodiaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sunodia1.database.windows.net,1433;Initial Catalog=Sunodía;Persist Security Info=True;User ID=sunadmin@sunodia1;Password=Resources5228?;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sunodia.ClassManagement.Models.sunodiaEntities, Sunodia.ClassManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=sunodia1.database.windows.net;Initial Catalog=Sunodía;Integrated Security=False;User ID=sunadmin;Password=********;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sunodia.ClassManagement.Models.ApplicationDbContext, Sunodia.ClassManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ResourceId>/subscriptions/3e39a780-1021-432a-9031-b6af5acedbfb/resourceGroups/Sunodía/providers/Microsoft.Web/sites/sunodia1</ResourceId>
    <ResourceGroup>Sunodía</ResourceGroup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sunodia1.database.windows.net;Initial Catalog=Sunodía;Integrated Security=False;User ID=sunadmin;Password=********;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.sunodiaData.csdl|res://*/Models.sunodiaData.ssdl|res://*/Models.sunodiaData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sunodia1.database.windows.net,1433;Initial Catalog=Sunodía;Persist Security Info=True;User ID=sunadmin@sunodia1;Password=Resources5228?;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sunodia1.database.windows.net;Initial Catalog=Sunodía;Integrated Security=False;User ID=sunadmin;Password=********;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FHIData.csdl|res://*/Models.FHIData.ssdl|res://*/Models.FHIData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sunodia1.database.windows.net,1433;Initial Catalog=Sunodía;Persist Security Info=True;User ID=sunadmin@sunodia1;Password=Resources5228?;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pgcvtuvk58.database.windows.net,1433;Initial Catalog=sunodia;User ID=danraf@pgcvtuvk58;Password=g!ood8566;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FHIData.csdl|res://*/Models.FHIData.ssdl|res://*/Models.FHIData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:pgcvtuvk58.database.windows.net,1433;Initial Catalog=sunodia;User ID=danraf@pgcvtuvk58;Password=g!ood8566;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pgcvtuvk58.database.windows.net,1433;Initial Catalog=sunodia;User ID=danraf@pgcvtuvk58;Password=g!ood8566;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="sunodiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FHIData.csdl|res://*/Models.FHIData.ssdl|res://*/Models.FHIData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:pgcvtuvk58.database.windows.net,1433;Initial Catalog=sunodia;User ID=danraf@pgcvtuvk58;Password=g!ood8566;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>